# Python
*.pyc
*.pyo
*.pyd
__pycache__/
venv/
env/
*.env

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# PostgreSQL
*.pgsql
*.sql
*.dump

# Environment-specific files
.env

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db
